.wrapper {
    height: 290px;
    width: 400px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
    float: left;
    height: 290px;
    width: 50px;
}

.product-img img {
    border-radius: 7px 0 0 7px;
}

.product-info {
    float: right;
    height: 290px;
    width: 230px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
}

.product-text {
    height: 300px;
    width: 250px;
}

.product-text h1 {
    margin: 0 0 0 18px;
    padding-top: 32px;
    font-size: 22px;
    color: #252946;
}

.product-text h1,
.product-price-btn p {
    font-family: 'Montserrat Alternates', sans-serif;
}

.product-text h2 {
    margin: 0 20px 37px 18px;
    font-size: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #252946;
    letter-spacing: 0.2em;
}

.product-text p {
    height: 125px;
    margin: 0 20px 0 10px;
    font-family: 'Quicksands', sans-serif;
    color: #252946;
    line-height: 1.7em;
    font-size: 10px;
    font-weight: lighter;
    overflow: hidden;
}

.product-price-btn {
    height: 103px;
    width: 327px;
    margin-top: -57px;
    position: relative;
}

.product-price-btn p {
    display: inline-block;
    position: absolute;
    top: -13px;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color: #474747;
}

span {
    font-family: "Poppins", sans-serif;
    font-size: 34px;
}

.product-price-btn button {
    display: inline-block;
    height: 40px;
    width: 126px;
    margin: 0 110px 0 20px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #252946;
    cursor: pointer;
    outline: none;
    float: right;
    /* margin-bottom: 1000px; */
}

.product-price-btn button:hover {
    background-color: #6672ca;
}

#navbar-main {
    background-color: #252946;
}